th {
  background-color: #4caf50;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  padding: 8px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
